#orange {
  color: orange;
}

#purple {
  color: purple;
}

#green {
  color: green;
}

img {
  max-width:35%;
}
.jumbotron{
  text-align: center;
}

.question1{
  font-size: 20px

}

.question2{
  font-size: 30px

}

.question4{
  font-size: 20px
}

.question5{
  font-size: 20px
}
