
#orange {
  color: orange;
}

#purple {
  color: purple;
}

#green {
  color: green;
}
#vampire {
  display: none;
  color: white;
  text-align: center;
  background: url("../img/blood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
}
.vampireForm{
   margin:100px;
}

.vampirePic {
height: 400px;
width: 600px;
border: solid #FAFA12;
}
.vampireList >ul {
  text-align: left;
  font-weight: bold;
  display: inline-block;
}
#btn-vampire{
  color: #FAFA12;
}
h2 {
  color: #FAFA12;
}
.shrinkimg {
  max-width:40%;
}

h3 {
  text-align: left;
}
input {
  text-align: center;
}

.question1,
.question4,
.question5{
  font-size: 20px

}

.question2{
  font-size: 30px
}

#hiddenRuby,
#hiddenPython,
#hiddenJavascript {
  display: none;
}


body.ruby{
  background-color: navy;
  color: white;
}

body.javascript{
background-color: yellow;
color: purple;
}

body.ruby{
  background-color: blue;
  color:orange;
}
