#orange {
  color: orange;
}

#purple {
  color: purple;
}

#green {
  color: green;
}
#vampire {
  display: none;
}

img {
  max-width:35%;
}
h3 {
  text-align: left;
}
input {
  text-align: center;
}

.question1{
  font-size: 20px

}

.question2{
  font-size: 30px

}

.question4{
  font-size: 20px
}

.question5{
  font-size: 20px
}
